#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 300px;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: large;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #535bf2;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.add-mint-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-color: whitesmoke;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
}

.form-field {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
